body {
    padding-top: 56px;
  }
  
  .carousel-item {
    height: 45vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }

  #navbar{
    background-color:#375cad;       
  }

  #navbarToggel{
    background-color: whitesmoke;
  }

  #signInBtn:hover{
    color: black;
  }

  #signInBtn{
    color: whitesmoke;
  }


  .nav-link{
    color: whitesmoke;
  }

  .nav-link:hover{
    color:  black;
  /*   //background-color: #3232ff; */
  }

  .navbar-brand{
    color: whitesmoke;
  }

  .navbar-brand:hover{
    color: black;
  }

  .footer {
    background-color: #375cad;
    margin: 0px auto;
    padding: 20px 0px; }

    .carousel {
      background: #4272d8; }
      .carousel .carousel-item {
        height: 300px; }
        .carousel .carousel-item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 300px; }

#imgCarousel{
  width:300px;
}          

#carouselThirdSlide{
  width: 600px;
  margin-left: 173px;
  margin-bottom: 26px;
}

#carouselFirstSlide{
  width: 600px;
  margin-left: 173px;
  margin-bottom: 26px;
}

#carouselSecondSlide{
  width: 600px;
  margin-left: 173px;
  margin-bottom: 30px;
}

.modal-header {
  background-color: #7f7fff;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background-color: whitesmoke; }
    